<?xml version="1.0"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="chaine_connexion" value="Data Source=SWT;User Id=ADM_WORKFLOW;Password=DEVEL;"/>
    <add key="serveur_mail" value="exchange.cba.fr"/>
    <add key="url_site_prod" value="https://cbvalidinvoices.cba.fr"/>
    <add key="url_site" value="http://localhost:53491"/>
    <add key="table_facture_defaut" value="TB_FACTURE"/>
    <add key="table_ligne_facture_defaut" value="TB_LIGNE_FACTURE"/>
    <add key="repertoires_images_base" value="\\10.94.0.81\IA_PROD\EXPORTS\FACTPDF\;\\10.94.0.82\e$\export\pdf\;\\10.94.0.151\BANC_SCAN\RGDS\EXPORTS\PDF\;\\10.94.0.151\Banc_Scan\FDJ\EXPORTS\PDF;\\10.94.0.98\EXPORT\IDEMIA"/>
    <add key="repertoire_pdf" value="\\10.168.94.12\e\Sites\CBWEBVALIDINVOICE\PDF\"/>
    <add key="workflow" value="79"/>
  </appSettings>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true"/>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" maxRequestLength="20000"/>
    <sessionState regenerateExpiredSessionId="true"/>
  </system.web>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>-->
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
<!--ProjectGuid: A16D0BF4-B435-442E-BB0B-19ABDA0EDC42-->